<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<form method="post">
    <h1>Change From:</h1>
    <div th:object="${originalgamecharacter}">
        <h2 th:text="*{name}">Character Name</h2>
        <ul>
            <li th:text="'Level: ' + *{level}">Max Hit Points</li>
            <li th:text="'Max Hit Points: ' + *{hitPoints}">Max Hit Points</li>
        </ul>
    </div>

    <h1>Change To:</h1>
    <div th:object="${proposedgamecharacter}">
        <h2 th:text="${proposedgamecharacter.name}">Character Name</h2>
        <ul>
            <li th:text="'Level: ' + *{level}">Max Hit Points</li>
            <li th:text="'Max Hit Points: ' + *{hitPoints}">Max Hit Points</li>
        </ul>
    </div>
    <input type="radio" name="judgement" value="true" />Pass
    <input type="radio" name="judgement" value="false" />Fail<br />
    <input type="submit" value="Pass Judgement" />
</form>
</body>
</html>