<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
<form method="post" th:object="${gameCharacter}" class="form-group">

    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" th:value="*{name}"/>
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="level">Level</label>
        <input class="form-control" th:field="*{level}" th:value="*{level}" />
        <span th:errors="*{level}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="hitPoints">Hit Points</label>
        <input class="form-control" th:field="*{hitPoints}" th:value="*{hitPoints}"/>
        <span th:errors="*{hitPoints}" class="error"></span>
    </div>

    <input type="hidden" th:field="*{uid}" th:value="*{uid}" />

    <input type="submit" value="Submit Changes" />
</form>

</body>
</html>